<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="card-deck">
            <div class="card" style="background-color: #d6d8db;">
                <h1 style="padding: 50px; text-align: center; background-color: #474e5d; color: white;">Contact Us</h1>
                <img class="card-img-left" style="align-self: center;" src="{{MEDIA_URL}}/contact-us.jfif" alt="Contact-image" width="240px" height="240px">
                <div class="card-title" style="text-align: center;"> <b>Car Dealers</b></div>
                <div class="card-title" style="text-align: center;"> <b>Phone :- 999-999-9999</b></div>
                <div class="card-title" style="text-align: center;"> <b>Email :- contact-us@cardealer.com</b></div>
            </div>
        </div> 
    </div>
</body>
</html>