<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="card-columns">
            <h1>Contact Us</h1>
            <div class="card">
                <div class="card-body">
                    <div class="card-title"> Sales Manager - 1</div>
                    <div class="card-title"> Mr. Tom Hanks</div>
                    <div class="card-title"> Phone :- 999-999-9999</div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="card-title"> Sales Manager - 2</div>
                    <div class="card-title"> Mr. Johny Depp</div>
                    <div class="card-title"> Phone :- 999-999-9999</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>